<%- include('./partials/head') %>

<h2><%= squad.name %></h2>

<!-- Hier komen de members -->

<section>
  <!-- Dit is een loop, voor alle members-->
  <% squad.members.forEach(member => { %>

    <a href="/member?slug=<%= member.slug %>">
      <!-- Hier check ik of er een avatar is. Zo niet, dan een placeholder-->
      <% if (member.avatar !== "null" && member.avatar &&
      !member.avatar.includes("[")) { %>
      <img
        class="img-avatar"
        src="<%= member.avatar %>"
        alt="<%= member.name %> <%= member.prefix %> <%= member.surname %>"
      />
      <% }else{ %>
      <img
        class="img-avatar"
        src="https://via.placeholder.com/150"
        alt="<%= member.name %> <%= member.prefix %> <%= member.surname %>"
      />
      <% } %>
      <p class="member__sur--name"><%= member.name %></p>
    </a>
  <% }) %>
</section>

<%- include('./partials/foot') %>
  