<%- include('./partials/head') %>
<a class="visite-kaart" href="<%= member.website %>">
<img
      class="img-avatar-member-page"
      src="<%= member.avatar %>"
      alt="<%= member.name %> <%= member.prefix %> <%= member.surname %>"
    />
<h2><%= member.name %> <%= member.surname %></h2>
<h3><%= member.role %></h3>
<p><%= member.bio.html %></p>
</a>

    
